
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> So you wanna add a product manualy! </h1>
    <h3> add something even Digikala does not have it :) </h3>
    <br>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="" placeholder="title"><br>
      <input type="text" name="" value="" placeholder="brandName"><br>
      <input type="text" name="" value="" placeholder="categoryName"><br>
      <input type="text" name="" value="" placeholder="greater than this price ..."><br>
      <input type="text" name="" value="" placeholder="lower than this price ..."><br>
      <br>
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
