<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello World! I have crawled digikala some days ago. what do you want ?
    <br>
    <a href="/searchSupplyCategory"> search in supply category </a>
    <br>
    <a href="/searchInProducts"> search in products </a>
    <br>
    <a href="/AddingProduct"> adding new product </a>
    <br>
    <a href="/UpdatingProduct"> update one product </a>
    <br>
    <a href="/DeletingPtoducts"> delete one product </a>
  </body>
</html>
