
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Searching in supply category!</h1>
    <h3> So I think I should act like digikala navbar :)</h3>
    <br>
    <form class="" action="/searchSupplyCategory" method="post">
      <select name="supplyCategory">
        <option value="1">کالای دیجیتال</option>
        <option value="2">آرایشی و بهداشتی و سلامت</option>
        <option value="3">خودرو و ابزار و اداری</option>
        <option value="4">مد و پوشاک</option>
        <option value="5">خانه و آشپزخانه</option>
        <option value="6">کتاب لوازم تحریر و هنر</option>
        <option value="7">اسباب بازی و کودک و نوزاد</option>
        <option value="8">ورزش و سفر</option>
      </select>
      <input type="submit" name="let's go" value="ok">
    </form>
  </body>
</html>
